$font: 'Roboto';
$primary_color: #ffeb3b;
$secondary: #1e1e1e;
$background_color: #707870;
@font-face {
    font-family: $font;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

@media(min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media(min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media(min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media(min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

html,
body,
#root {
    background: $background_color;
    height: 100%;
    margin: 1px;
    padding: 0; // overflow-y: hidden;
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    font-weight: normal;
    font-family: $font, 'sans-serif';
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 5em auto 5em;
    >* {
        padding: 0.6em;
    }
}

.page-title {
    grid-column: 2/-1;
    background: lighten($background_color, 10%);
}

.menu {
    grid-row: 1/3;
    background: lighten($background_color, 10%);
    & a {
        color: $secondary;
        text-decoration: none;
        &:hover {
            color: #ffeb3b;
        }
    }
}

.menu-button {
    padding-bottom: 15px;
    text-align: center;
}

.div-button {
    &:hover {
        color: #ffeb3b;
    }
}

.my-wallet {
    grid-column: 2/-1;
    background: lighten($background_color, 10%);
    >div {
        padding-bottom: 0.6em;
    }
    >p {
        margin: 0.6em 0 0.6em 0;
    }
}

.footer {
    grid-row: 3/4;
    grid-column: 1/-1;
    background: lighten($background_color, 10%);
    text-align: center;
    & p {
        align-content: center;
    }
}

.search-bar {
    padding-top: 0.6em;
    input {
        width: 25%;
        min-width: 210px;
    }
}

.balance-input {
    padding-top: 0.6em;
    input {
        width: 25%;
        min-width: 210px;
    }
}

.stock-list {
    div:nth-child(even) {
        background-color: lighten($background_color, 5%);
    }
}

.stock-metadata {
    padding-bottom: 0.6em;
}

.balance-operation {
    display: flex;
    >.operation {
        color: purple;
        margin-left: auto;
    }
}

.assets-table {
    border-collapse: collapse;
    width: 100%;
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: lighten($background_color, 5%);
    }
}

.asset-row {
    font-size: 0.8em;
    display: flex; 
    align-items: center;
    padding: 2px;
    border: 1px solid #dddddd;
    button {
        height: 2.0em;
        margin-left: auto;
    }
    span {
        border-right: 1px solid #dddddd;
        padding-right: 5px;
        padding-left: 5px;
    }
    input {
        height: 1.6em;
    }
}